In [7]:
import pandas as pd
df= pd.read_csv('C:/Users/TechVannah/Downloads/Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [10]:
df.Exited.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [11]:
7963/2037

3.9091801669121256

In [12]:
from sklearn.preprocessing import StandardScaler

#Specify Columns used as features
feature_cols=['CreditScore','Balance','NumOfProducts','Tenure','HasCrCard','IsActiveMember']
# Create feature matrix X and target vector y
X = df[feature_cols]
y = df['Exited']

scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)
X_scaled[:3]

array([[-0.32622142, -1.22584767, -0.91158349, -1.04175968,  0.64609167,
         0.97024255],
       [-0.44003595,  0.11735002, -0.91158349, -1.38753759, -1.54776799,
         0.97024255],
       [-1.53679418,  1.33305335,  2.52705662,  1.03290776,  0.64609167,
        -1.03067011]])

In [13]:
#Split data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
X_train.shape

(8000, 6)

In [15]:
X_test.shape

(2000, 6)

In [16]:
y_train.value_counts()

0    6356
1    1644
Name: Exited, dtype: int64

In [17]:
6356/1644

3.8661800486618003

In [18]:
X.shape

(10000, 6)

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

scores=cross_val_score(DecisionTreeClassifier(),X, y, cv=5)
scores

array([0.7405, 0.732 , 0.742 , 0.7625, 0.75  ])

In [20]:
scores.mean()

0.7454000000000001

In [21]:
from sklearn.ensemble import BaggingClassifier

bag_model= BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)
bag_model.fit(X_train,y_train)
bag_model.oob_score_

0.79975

In [22]:
from sklearn.ensemble import BaggingClassifier
bag_model=BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
    )
scores=cross_val_score(bag_model,X,y,cv=5)
scores.mean()

0.8058

In [14]:
from sklearn.ensemble import RandomForestClassifier
score= cross_val_score(RandomForestClassifier(), X,y,cv=5)
scores.mean()

0.7439

In [28]:

from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# generate a random dataset
X, y = make_classification(n_samples=1000, n_features=10, n_informative=5, random_state=1)

# split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# create a bagging classifier with a decision tree base estimator
bagging = BaggingClassifier(n_estimators=10, random_state=1)

# train the bagging classifier on the train set
bagging.fit(X_train, y_train)

# make predictions on the test set
y_pred = bagging.predict(X_test)

# calculate the accuracy of the bagging classifier
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 83.00%