In [1]:
import pandas as pd
df= pd.read_csv('C:/Users/TechVannah/Downloads/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [2]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [3]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [8]:
df.smoker.value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [9]:
1064/247

4.3076923076923075

In [12]:
from sklearn.preprocessing import StandardScaler

#Specify Columns used as features
feature_cols=['age','bmi','children','charges']
# Create feature matrix X and target vector y
X = df[feature_cols]
y = df['smoker']

scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)
X_scaled[:3]

array([[-1.43876426, -0.45332   , -0.90861367,  0.2985838 ],
       [-1.50996545,  0.5096211 , -0.07876719, -0.95368917],
       [-0.79795355,  0.38330685,  1.58092576, -0.72867467]])

In [13]:
#Split data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
X_train.shape

(1070, 4)

In [15]:
X_test.shape

(268, 4)

In [16]:
y_train.value_counts()

no     850
yes    220
Name: smoker, dtype: int64

In [17]:
850/220

3.8636363636363638

In [18]:
X.shape

(1338, 4)

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

scores=cross_val_score(DecisionTreeClassifier(),X, y, cv=5)
scores

array([0.95522388, 0.9738806 , 0.98507463, 0.97378277, 0.95505618])

In [20]:
scores.mean()

0.9686036111576948

In [21]:
from sklearn.ensemble import BaggingClassifier

bag_model= BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)
bag_model.fit(X_train,y_train)
bag_model.oob_score_

0.9700934579439252

In [22]:
from sklearn.ensemble import BaggingClassifier
bag_model=BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
    )
scores=cross_val_score(bag_model,X,y,cv=5)
scores.mean()

0.9708535971826262

In [23]:
from sklearn.ensemble import RandomForestClassifier
score= cross_val_score(RandomForestClassifier(), X,y,cv=5)
scores.mean()

0.9708535971826262

In [25]:
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# generate a random dataset
X, y = make_classification(n_samples=1000, n_features=10, n_informative=5, random_state=1)

# split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# create a bagging classifier with a decision tree base estimator
bagging = BaggingClassifier(n_estimators=10, random_state=1)

# train the bagging classifier on the train set
bagging.fit(X_train, y_train)

# make predictions on the test set
y_pred = bagging.predict(X_test)

# calculate the accuracy of the bagging classifier
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 88.50%